$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: green;

@import "bootstrap";

body {
	padding-top:60px;
}

@import "bootstrap-responsive";

.footer {
	margin-top:50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Remove the default bopotstrap shadow */
.navbar-inner {
	@include box-shadow(none !important);
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img{
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description{
	margin: 10px 5px;
}

.pagination{
	text-align: center;
	margin-top: 10px;
}